*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: white; 
}  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
}  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 255, 0); 
}
/* fonts 
'Spectral', serif;
'Cormorant Infant', serif;
'Inter Tight', sans-serif;
*/


/* ------------index------------ */

/* --------navbar-------- */
.container__index-header{
    background-image: url(../assets/cover.jpg);
    background-size: cover;
    height: 100vh;
}
.navbar__modificada-brand{
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
    color: black;
    font-family: 'Spectral';
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    padding: 12px;
}
.navbar__modificada-brand:hover{
    color: black;
}
.navbar__modificada{
    justify-content: space-between;
}
.navbar__modificada div button span i{
    font-size: 30px;
    color: rgb(32, 32, 32);
}
.navbar__modificada div div ul{
    align-items: flex-end;
    padding-right: 14px;
}
.navbar__modificada div div ul li{
    border: 1px solid transparent;
}
.navbar__modificada div ul li:hover{
    border-bottom: 1px solid black;
}
.navbar__modificada div ul li a{
    font-family: 'Inter Tight', sans-serif;
    color: black;
}
.navbar__modificada div ul li a:hover{
    color: black;
}
.navbar__modificada div ul li a:focus{
    color: rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 255, 0);
}
.navbar__toggler-modificado{
    border: none;
    color: black;
}
.navbar__toggler-modificado:focus{
    box-shadow: none;
}
.navbar__modificada-links{
    margin-right: 30px;
}
.link-activo{
    text-decoration: line-through;
}
.material-symbols-modificado{
    font-size: 48px;
}
/* --------img index-------- */
.index__header-img01{
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
}
.index__header-img02{
    position: absolute;
    top: 20%;
    right: 12%;
    opacity: 0;
}
.index__header-img03{
    position: absolute;
    top: 50%;
    right: 40%;
    opacity: 0;
}
.index__header-img04{
    position: absolute;
    bottom: 12%;
    left: 5%;
    opacity: 0;
    width: 350px;
}
.index__header-img05{
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    width: 350px;
}

.index__header-img01:hover, .index__header-img02:hover,
.index__header-img03:hover, .index__header-img04:hover,
.index__header-img05:hover{
    opacity: 1;
    cursor: none;
}

/* --------txt wave-------- */
.container__index-waveAnimation{
    margin: 150px 0;
}
.container__index-waveAnimation svg text textPath{
    font-family: 'Cormorant Infant', serif;
}

/* --------about-------- */
.container__index-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.container__index-about video{
    margin-left: 60px;
}
.container__index-about p{
    font-size: 30px;
    font-family: 'Inter Tight';
    font-weight: 300;
    padding: 0 70px;
}

/* --------banner imágenes-------- */
.container__index-bannerImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* --------marquee-------- */
.container__index-marquee{
    font-size: 36px;
    font-family: 'Spectral';
    font-weight: 300;
    margin-top: 70px;
    padding-top: 60px;
}

/* --------contacto-------- */
.container__index-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 60px;
}
.container__index-form input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
}
.container__index-form input::placeholder{
    color: black;
    text-transform: uppercase;
}
.container__index-form textarea{
    padding: 8px;
}
.container__index-form input,
.container__index-form label{
    padding-top: 16px;
}
.container__index-form input,
.container__index-form label,
.container__index-form textarea,
.btn_propio{
    color: black;
    font-size: 14px;
    font-family:'Inter Tight';
    border-radius: 0;
}
.container__index-form input:focus,
.container__index-form label:focus,
.container__index-form textarea:focus{
    outline: none;
}
.btn_propio{
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    padding: 8px 22px;
}
.btn_propio:hover{
    background-color: black;
    color: white;
}

/* --------RRSS-------- */
.container__index-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    background-color: black;
    height: 44px;
}
.container__index-rrss i{
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    height: 26px;
    padding: 10px 0;
}
.container__index-rrss i:hover{
    color: rgb(0, 255, 0);
}

/* --------BTN UP-------- */
.btn_up{
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 30px 0;
}
.btn_up div a span{
    transform: rotate(-90deg);
    color: black;
    font-size: 34px;
}


/* ------------frontend------------ */

/* --------containers-------- */
.separator{
    border-bottom: 1px solid black;
    width: 80%;
    margin: 50px auto;
}
.container__web-main h1{
    font-family: 'Spectral';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-top: 120px;
}
.lmy, .las-celebraciones, .arrepentida{
    display: flex;
    justify-content: space-around;
}
.lmy p, .las-celebraciones p, .arrepentida p{
    font-family: 'Inter Tight';
    width: 50%;
    padding: 0 30px;
}
.arrepentida{
    margin-bottom: 50px;
}


/* ------------cerámica------------ */

/*--------h1--------*/
.container__ceramica-h1{
    font-family: 'Spectral';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-top: 120px;
}

/* --------ig-------- */
.container__ceramica-main-ig{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.container__ceramica-main-ig div{
    overflow: hidden;
    padding: 0;
    width: 350px;
    height: 350px;
}
.container__ceramica-main-ig img {
    transition-duration: 2s;
    margin: 0 auto;
    display: block;
}
.container__ceramica-main-ig img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

/* --------video-------- */
.container__ceramica-main-videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
}


/* ------------ty------------ */
.simbolo-volver{
    font-size: 34px;
    transform: rotateY(180deg);
    color: rgb(211, 75, 122);
    border: 3px solid rgb(211, 75, 122);
    border-radius: 50%;
    padding: 5px;
    margin: 5px 0 0 5px;
}
.container__ty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.container__ty h1{
    font-family: 'Inter Tight';
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
.container__ty img{
    margin-top: 50px;
    border: 5px solid black;
}


/* ------------media query------------ */

@media screen and (max-width: 800px) {
    /* ------------index------------ */
    .container__index-about p{
        font-size: 22px;
    }
    .container__index-bannerImg{
        flex-direction: column;
    }
    .container__index-bannerImg img{
        margin: 10px 0;
    }

    /* ------------frontend------------ */
    .container__web-main section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__web-main section a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__web-main section p{
        margin-top: 20px;
        width: 90%;
    }

    /* ------------ty------------ */
    .container__ty img{
        width: 90%;
    };
}

@media screen and (min-width: 320px) and (max-width: 799px) {
    /* ------------frontend------------ */
    .container__web-main section a video{
        width: 90%;
    }
}




