*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.body__index{
    background-image: url(../assets/bg.jpeg);
    background-size: cover;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #232323; 
}  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 237, 141); 
}
/* fonts 
'Spectral', serif;
'Cormorant Infant', serif;
'Inter Tight', sans-serif;
*/


/* ------------index------------ */

/* --------navbar-------- */
.navbar__modificada-brand{
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
    color: #232323;
    font-family: 'Spectral';
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    padding: 12px;
}
.navbar__modificada-brand:hover{
    color: #232323;
}
.navbar__modificada{
    justify-content: space-between;
}
.navbar__modificada div button span i{
    font-size: 30px;
    color: rgb(32, 32, 32);
}
.navbar__modificada div div ul{
    align-items: flex-end;
    padding-right: 14px;
}
.navbar__modificada div div ul li{
    border: 1px solid transparent;
}
.nav-mine {
    display: inline-block;
    position: relative;
    color: #232323;
}
.nav-mine:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: #232323;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}  
.nav-mine:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar__modificada div ul li a{
    font-family: 'Inter Tight', sans-serif;
    color: #232323;
}
.navbar__modificada div ul li a:hover{
    color: #232323;
}
.navbar__modificada div ul li a:focus{
    color: #232323;
}
.navbar__toggler-modificado{
    border: none;
    color: #232323;
}
.navbar__toggler-modificado:focus{
    box-shadow: none;
}
.navbar__modificada-links{
    margin-right: 30px;
}
.link-activo{
    text-decoration: line-through;
}
.material-symbols-modificado{
    font-size: 40px;
}
.container__index-nav-desktop{
    margin-top: 20px;
}
.container__index-nav-desktop nav ul{
    list-style: none;
}
.container__index-nav-desktop nav ul li .nav-mine{
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
    font-size: 13px;
}
.container__index-nav-desktop nav ul li .nav-mine:hover{
    color: #232323;
}
/* --------txt wave-------- */
.container__index-waveAnimation{
    margin-top: 30vh;
}
.container__index-waveAnimation svg text textPath{
    font-family: 'Cormorant Infant', serif;
}

/* --------frontend-------- */
#container__frontend{
    margin-top: 500px;
}
#container__frontend div img:hover{
    cursor:grabbing;
}
#container__frontend .cfront-one h2{
    margin-left: 60px;
    margin-top: 100px;
}
#container__frontend .cfront-two h2{
    margin-left: 290px;
    margin-top: -90px;
}
#container__frontend .cfront-one h2, #container__frontend .cfront-two h2{
    color: #232323;
    font-size: 110px;
    font-family: 'Belleza', sans-serif;
    text-shadow: 1px 1px 2px  rgb(141, 237, 141);
}
#container__frontend .cfront-one{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 300px;
}
#container__frontend div a img{
    max-width: 250px;
    border: 0.2px solid #232323;
    box-shadow: 1px 1px 2px #232323;
}
#container__frontend .cfront-one div:nth-child(2){
    margin-top: 0px;
    margin-left: 150px;
}
#container__frontend .cfront-one div:nth-child(3){
    margin-top: 40px;
    margin-left: 80px;
}
#container__frontend .cfront-two{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
#container__frontend .cfront-two div:nth-child(2){
    margin-top: 100px;
}
#container__frontend .cfront-three a img{
    margin-left: 100px;
}
/* --------about-------- */
.container__index-about{
    margin-top: 300px;
}
.container__index-about div p{
    font-family: 'Inter Tight', sans-serif;
    font-size: 15px;
}

/* --------banner animacion circular-------- */



/* --------banner animacion de img-------- */
.container-index-animacionImg{
    transform: perspective(1000px) rotate(-90deg);
    width: 300px;
    height: 400px;
    transform-style:preserve-3d;
    margin: 200px auto;
}
.container-index-animacionImg div{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    animation: animate 10s linear infinite;
    border: 1px solid #232323;
}
  .container-index-animacionImg div img{
    position:absolute;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #232323;
}
.container-index-animacionImg div img:nth-child(1){
    transform: rotateX(0deg);
}
.container-index-animacionImg div img:nth-child(2){
    transform: rotateX(45deg);
}
.container-index-animacionImg div img:nth-child(3){
    transform: rotateX(-45deg)
}
.container-index-animacionImg div img:nth-child(4){
    transform: rotateX(90deg);
}
@keyframes animate{
    0%{
      transform:perspective(1000px) rotateX(0deg);
    }
    100%{
      transform:perspective(1000px) rotateX(360deg);
    }
}
.img{
    width: 200px;
    height: 300px;
    clear: both;
}

/* --------marquee-------- */
.container__index-marquee{
    font-size: 36px;
    font-family: 'Spectral';
    font-weight: 300;
    margin-top: 70px;
    padding-top: 60px;
}

/* --------contacto-------- */
.container__index-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 60px;
}
.container__index-form input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #232323;
}
.container__index-form input::placeholder{
    color: #232323;
    text-transform: uppercase;
}
.container__index-form textarea{
    padding: 8px;
}
.container__index-form input,
.container__index-form label{
    padding-top: 16px;
}
.container__index-form input,
.container__index-form label,
.container__index-form textarea,
.btn_propio{
    color: #232323;
    font-size: 14px;
    font-family:'Inter Tight';
    border-radius: 0;
    background-color: transparent;
}
.container__index-form input:focus,
.container__index-form label:focus,
.container__index-form textarea:focus{
    outline: none;
}
.btn_propio{
    background-color: transparent;
    border: 1px solid #232323;
    margin: 0 auto;
    margin-top: 30px;
    padding: 8px 22px;
}
.btn_propio:hover{
    background-color: #232323;
    color: white;
}

/* --------RRSS-------- */
.container__index-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    background-color: #232323;
    height: 44px;
}
.container__index-rrss i{
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    height: 26px;
    padding: 10px 0;
}
.container__index-rrss i:hover{
    color: rgb(0, 255, 0);
}

/* --------BTN UP-------- */
.btn_up{
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 30px 0;
}
.btn_up div a span{
    transform: rotate(-90deg);
    color: #232323;
    font-size: 34px;
}

/* ------------frontend------------ */


/* ------------cerámica------------ */

/*--------h1--------*/
.container__ceramica-h1{
    font-family: 'Spectral';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-top: 120px;
}
/* --------ig-------- */
.container__ceramica-main-ig{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.container__ceramica-main-ig div{
    overflow: hidden;
    padding: 0;
    width: 350px;
    height: 350px;
}
.container__ceramica-main-ig img {
    transition-duration: 2s;
    margin: 0 auto;
    display: block;
}
.container__ceramica-main-ig img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

/* --------video-------- */
.container__ceramica-main-videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
}


/* ------------ty------------ */
.simbolo-volver{
    font-size: 44px;
    color: #232323;
    padding: 5px;
    margin: 5px 0 0 5px;
}
.container__ty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.container__ty h1{
    font-family: 'Inter Tight';
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
.container__ty img{
    margin-top: 50px;
    border: 5px solid #232323;
}


/* ------------media query------------ */

@media screen and (max-width: 800px) {
    /* ------------index------------ */
    .container__index-about p{
        font-size: 22px;
    }
    .container__index-bannerImg{
        flex-direction: column;
    }
    .container__index-bannerImg img{
        margin: 10px 0;
    }

    /* ------------frontend------------ */
    .container__web-main section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__web-main section a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__web-main section p{
        margin-top: 20px;
        width: 90%;
    }

    /* ------------ty------------ */
    .container__ty img{
        width: 90%;
    };
}

@media screen and (min-width: 320px) and (max-width: 799px) {
    /* ------------frontend------------ */
    .container__web-main section a video{
        width: 90%;
    }

}
@media screen and (min-width: 576px) {
    /* ------------navbar------------  */
    .container__index-nav-mobile{
        display: none;
    }
}
@media screen and (max-width: 577px) {
    /* ------------navbar------------  */
    .container__index-nav-desktop{
        display: none;
    }
}



/* animación index */
#faux-gif {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 400px;
    height: 600px;
    /* animation: giffy 0.5s infinite linear; */
    /* no fade between frames */
    animation: giffy 0.6s infinite steps(1);
}
#faux-gif:hover {
    animation-play-state:paused;
}
@keyframes giffy {
    0%   { background-image: url('../assets/ig01.png'); } 
    15%  { background-image: url('../assets/ig02.png'); }
    30%  { background-image: url('../assets/matrix.jpg');}
    45%  { background-image: url('../assets/ig04.png'); }
    60%  { background-image: url('../assets/ig05.png'); }
    75%  { background-image: url('../assets/ig07.png'); }
    90%  { background-image: url('../assets/ig06.png'); }
}